*,html{
font-family: 'Monaco', monospace;
cursor: url('data:image/x-icon;base64,AAACAAEAICACAAIABAAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAgAAAAAAAAAAAAAAAAgAAAAAAAAAAAAAA////AAAAAAAAAAAAAAAAAAAAAAAAHAAAABwAAAA4AAAAOAAAAHAAAABwAAAQ4AAAGOAAAB3AAAAfwAAAH/4AAB/8AAAf+AAAH/AAAB/gAAAfwAAAH4AAAB8AAAAeAAAAHAAAABgAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA/////////////////+P////B////wf///4P///+D///fB///zwf//8YP///CD///wB///8AAf//AAP//wAH//8AD///AB///wA///8Af///AP///wH///8D////B////w////8f////P////3/////////////////////////8='), auto;

}
header {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  font-size: xx-large;
  font-weight: bolder;
  position: relative;
  margin: 0 auto;
}



h1 {
  text-align: center;
  font-size: 60px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  margin: 0 auto;
}

body {
  background-color: #FFD6FF;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}
a{
  text-align: center;
  text-decoration: none;

}
/* unvisited link */
a:link,
a:visited {

  color: #000000;
  text-align: center;
  text-decoration: none;

}

/* mouse over link */
a:hover {
  color:#BBD0FF;
}

divanchor, divanchorbottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 25px;
  margin: 0 auto;

}

.divform > .divtext {
  display: flex;
}

p {
  text-align: justify;
  justify-content: center;
  padding: 20px 20px 20px 20px;

}
.specialp {
  font-size: large;
}
form {
  font-size: large;
}
img {
  display: block;
  max-width: 30%; 
  height: auto;
  object-fit: contain;
  border-radius: 100px;
  margin: 0 auto;
}
divimage {
  outline:90px #BBD0FF;
  display: inline-block;

  box-shadow: #C8B6FF;
  padding: auto;
  margin: auto;
}

/* menu hamburguesa*/
ul{
  display: none;

  
}
input {
  display: none;
 }
input:checked  ~ ul{
  position: absolute;
  top: 1%; left: 5%;
  display:block;
  transition: all 0.5s;
}
label {
  position: absolute;
  top: 1%; left: 5%;
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid #B8C0FF;
  border-radius: 100px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  user-select: none;
}
li {

  display: flexbox;
  background:#B8C0FF ;
  margin: 0 auto;
  padding: 10px;
  list-style: none;
  border-bottom: 1px solid #B8C0FF;
}
